.clients-table {
    margin-top: 3.5em;
}

.clients-table .clients-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 90%;
}
.clients-section-header .add-client button {
    margin-top: 2em;
}

.clients-table h2 {
   text-align: center;
   margin-bottom: 0.1em;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;

}

#portal .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    animation: ease-in-out 0.3s;
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}

.modal form {
    z-index: 1;
    background: white;
    width: 50%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em auto;
    animation: animate 0.3s;
}

.modal .modal-form input {
    margin-bottom: 10px;
}

.modal .modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px;
}

.modal-buttons button {
    margin: 0 5px;
}

/* animations */
@keyframes animate {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}